.teachersBlock {
    position: relative;
    background-color: var(--lightGrey);
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid black;

    .ident {
        margin-bottom: 5px;
    }
}

.row {
    display: flex;
    gap: 5px;

}

.btnBlock {
    display: flex;
    .close {

        position: absolute;
        right: 10px;
        top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background-color: var(--lightGrey);
        border: 1px solid black;

        border-radius: 7px;
        padding: 8px;
        margin-left: 10px;

        &:hover {
            background-color: var(--grey);
            color: red;
        }
    }
}