.page_404 {
  padding: 40px 0;
}

.page_404 img {
  width: 100%;
}

.fourZeroFourBg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%;
}


.fourZeroFourBg h1 {
  text-align: center;
  font-size: 80px;
}

.contantBox404 {
  text-align: center;
}

.link404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
  cursor: pointer;
}

.contantBox404 {
  margin-top: -50px;
}

@media (max-width: 1095px) {
  .fourZeroFourBg {
    background-size: 100%;
  }
}