.leftSide {
    width: 360px;
    height: calc(100vh - 100px);
    background-color: var(--greenOne);
    


    .name{
        padding: 12px 20px;
        font-size: 32px;
        color: white;
        background-color: var(--greenThird);
        border-bottom:3px solid white;
    }

}