.leftSide {
    width: 20vw;
    height: calc(100vh - 100px);
    background-color: var(--greenOne);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  
    padding-right: 3px;
    .full {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0;
        font-size: 18px;
        color: white;
        background-color: var(--greenTwo);
        cursor: pointer;

        &:hover {
            background-color: var(--greenOne);
        }
    }

    .name {
        padding: 12px 20px;
        font-size: 32px;
        color: white;
        background-color: var(--greenThird);
        border-bottom: 3px solid white;
    }

    .menuBlock {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .menu {
            flex-grow: 1;
        }

        .exit {
            display: flex;
            align-items: flex-end;
            padding: 12px 20px;
            font-size: 18px;
            color: white;
            background-color: var(--greenThird);
            margin-top: auto; 
            cursor: pointer;
            
            &:hover {
                background-color: var(--greenTwo);
            }
        }
    }
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--greenTwo);
        border-radius: 5px;
    }

    &::-webkit-scrollbar-track {
        background-color: var(--lightGrey);
        border-radius: 5px;
    }
}
@media (max-width: 1401px) {}
@media (max-width: 829px) {
    .leftSide{
        display: none;
    }
}
@media (max-width: 502px) {}
@media (max-width: 380px) {}