@import '../../../styles/assets/mixins/responsive_font.scss';

.wrapper {
    position: relative;

    .toggleButton {
        padding: 10px;
        display: flex;
        align-items: center;
        flex-grow: 1;
        gap: 2px;
        width: 100%;
        background-color: var(--greenThird);
        border-radius: 7px;
        color: white;
        cursor: pointer;
        transition: all .25s ease-in;

        svg {
            width: 20px;
        }

        span {
            @include responsive_font(15, 8);
        }

        @media (max-width: 1095px) {
            padding: 5px;
            justify-content: center;
            width: 30px;
            height: 30px;
            border-radius: 2px;

            span {
                display: none;
            }
        }

        &.active,
        &:hover {
            background-color: var(--greenTwo);
        }
    }
}

.calendar {
    position: absolute;
    z-index: 999;
    top: 40px;
    right: 0;
    width: auto;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border: 3px solid var(--greenTwo);
    border-radius: 8px;
    background-color: white;

    @media (max-width: 850px) {
        position: fixed;
        padding: 1px;
        width: 100vw;
        gap: 12px;
        z-index: 1000;
      
      
    }
  

    .controls {
        padding: 0 9px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 6px;

        .arrowButton {
            display: flex;
            align-items: center;

            svg {
                transform: rotate(90deg);
            }

            &:last-child {
                svg {
                    transform: rotate(-90deg);
                }
            }
        }

        h2.currentMonth {

            @include responsive_font(15, 12);
            text-transform: capitalize;
        }
    }

    .gride {
        padding: 0 12px;
        display: grid;
        grid-template-columns: repeat(7, 1fr);

        .hcell {
            padding: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: grey;
            user-select: none;
            font-family: "Lato400";
            @include responsive_font(15, 10);
        }

        .cell {
            padding: 2.5px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 2px;
            border: 1px solid transparent;
            background-color: transparent;
            user-select: none;
            transition: all .2s ease;
            cursor: pointer;

            @include responsive_font(14, 10);

            &.active {
                transition: all .25s ease-in;
                border: 1px solid var(--greenThird);
                background-color: var(--greenOne);
                color: white;
            }

            &:hover {
                transition: all .25s ease-in;
                background-color: transparent;
                border: 1px solid var(--greenThird);
                color: black;
            }

            &.unavailable {
                cursor: not-allowed;
                color: grey;
                opacity: .9;

                &:hover,
                &.accent {
                    background-color: transparent;
                    border: 1px solid transparent;
                }
            }
        }
    }

    .todayBlock {
        display: flex;
        justify-content: space-around;
        align-items: center;
        @include responsive_font(15, 10);

        p {
            color: var(--grey);
            border-bottom: 1px solid var(--grey);
        }

        span {
            color: var(--grey);
        }
    }

    .buttonsWrapper {

        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;

        button {
            cursor: pointer;
            color: black;
            &:hover{
                color: var(--greenOne);
            }
        }
    }
}