.audithoriesBlock {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background-color: var(--greenTwo);
    border-bottom: 3px solid white;

    .audithories {
      
        .name {
            color: white;
            font-size: 18px;
        }

       
    }

}