@import '../index.module.scss';

.groupsBlock{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    border: 1px solid var(--grey);
    .name{
        color: var(--grey);
        font-size: 20px;
        margin-right: auto;
    }

    .close {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background-color: var(--grey);
        border-radius: 7px;
        padding: 10px;
        margin-left: 10px;

        &:hover {
            background-color: var(--lightGrey);
            color: red;
        }
    }
}