.disciplinesBlock {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background-color: var(--greenTwo);
    border-bottom: 3px solid white;

    .disciplines {

        .name {
            color: white;
            font-size: 18px;
        }

    }

    .arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin-left: auto;
        transition: .4s;
        color: white;
        cursor: pointer;

        svg {
            height: 100%;
        }
    }

    .rot {
        transform: rotate(180deg);
        transition: .4s;
    }
}

.close {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--lightGrey);
    border-radius: 7px;
    padding: 8px;
    width: 30px;
    height: 30px;
    flex-shrink: 0;

    &:hover {
        background-color: var(--grey);
        color: red;
    }
}

.row {
    display: flex;
    align-items: center;
    gap: 15px;
}

.groupName{
    display: flex;
    justify-content: space-between;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid var(--grey);
    padding: 10px;
    height: 100%;
}

.groupWrapper {
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    grid-gap: 20px;

    .groups,
    .teachers {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .names {
        padding: 10px 0;
        display: flex;
        align-items: center;
        border-bottom: 1px solid black;
        gap: 5px;

        div {
            margin-left: auto;
        }
    }
}

.center {
    justify-content: center;

    
}

.rr {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}