.disciplinesBlock {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background-color: var(--greenTwo);
    border-bottom: 3px solid white;

    .disciplines {

        .name {
            color: white;
            font-size: 18px;
        }

    }

    .arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin-left: auto;
        transition: .4s;
        color: white;
        cursor: pointer;

        svg {
            height: 100%;
        }
    }

    .rot {
        transform: rotate(180deg);
        transition: .4s;
    }

    .close {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background-color: var(--lightGrey);
        border-radius: 7px;
        padding: 8px;

        &:hover {
            background-color: var(--grey);
            color: red;
        }
    }

}


.groupName{
    display: flex;
    border: 1px solid var(--grey);
    padding: 10px;

}