@import '../../../styles/assets/mixins/responsive_font.scss';

.inputTextArea {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    user-select: none;

    label {
        cursor: pointer;
        padding-left: 5px;
        color: white;
        @include responsive_font(18, 14);

        &[data-disabled] {
            cursor: not-allowed;
        }
    }

    div {
        padding: 3px;
       
        display: flex;
        align-items: center;
        background-color: #fff;
        gap: 10px;
        flex-wrap: wrap;

        .word {
            display: flex;
            border-radius: 7px;
            align-items: center;
            background-color: var(--lightGrey);
            cursor: pointer;
            text-transform: uppercase;
            
            .svg {
                background-color: var(--lightGrey);
                transition: .4s;
            }

            &:hover .svg {
                color: red;
                transition: .4s;
            }
        }
    }

    textarea {
        outline: none;
        padding: 10px;
        display: flex;
        flex-grow: 1;
        height: 60px;
        background-color: white;
        border: 1px solid transparent;
        user-select: text;
        resize: none;
        line-height: 40px;
        text-transform: uppercase;
    }

}