.group{
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: var(--greenTwo);
    border-bottom:3px solid white;
.facultsBlock {
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    // flex-grow: 1;
    .name{
        color: white;
        font-size: 18px;
    }
   
   
}
.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-left: auto;
    transition: .4s;
    color: white;
    cursor: pointer;
    svg {
        height: 100%;
    }
}

.rot {
    transform: rotate(180deg);
    transition: .4s;
}


}